:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: min-content;
  background-color: var(--menu-color);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

li {
  padding: 3px 10px; /* This must be equal to the dropdown transform */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li:hover {
  background-color: var(--highlighted-menu-color);
}

.dropdownContainer {
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: var(--highlighted-menu-color);
  border-radius: 3px;
  box-shadow: 0 5px 5px var(--menu-color);
  transform: translateX(-10px) translateY(3px); /* This must be equal to the li padding */
}

.dropdown li {
  text-wrap: nowrap;
}

li:hover .dropdown {
  display: inline;
}

.dropdown:hover {
  display: inline;
}

.dropdown li:hover {
  background-color: var(--highlighted-editor-color);
}

img {
  height: 1em;
}
