Checks: >
  readability-function-size,
  readability-function-cognitive-complexity,
  readability-braces-around-statements
  readability-simplify-boolean-expr

CheckOptions:
  - key: readability-function-size.LineThreshold
    value: '50'
  - key: readability-function-size.StatementThreshold
    value: '20'
  - key: readability-function-cognitive-complexity.Threshold
    value: '15'
  - key: readability-braces-around-statements.ShortStatementLines
    value: '1'
  - key: readability-simplify-boolean-expr
    value: 'false'
