:host {
  flex: 1;
  overflow: hidden;
  display: flex;
  width: 100%;
}

welcome-panel {
  flex: 1;
}

data-panel {
  flex: none;
  position: relative;
}

resize-handle {
  width: 6px;
  cursor: col-resize;
  position: relative;
}

resize-handle::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: var(--highlighted-editor-color);
}

display-panel {
  flex: 1;
}
