:root {
  --editor-color: #3a3a3f;
  --highlighted-editor-color: #60606a;
  --menu-color: #303035;
  --highlighted-menu-color: #45454a;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("assets/fonts/IBMPlexSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--editor-color);
  color: lightgray;
  margin: 0;
  font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
  font-size: 0.95em;
}

::-webkit-scrollbar {
  background: transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  background: var(--highlighted-editor-color);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.lm_header {
  background-color: var(--menu-color);
}

.lm_tabs {
  height: 100%;
}

.lm_header .lm_tabs .lm_tab {
  background-color: var(--menu-color);
  font-family: "IBM Plex Sans";
  font-size: 0.95em;
  align-items: center;
  height: 100%;
  box-shadow: unset !important;
  padding: 0 10px !important;
  margin: 0 !important;
  min-width: 30px;
  display: flex;
}

.lm_close_tab {
  position: relative !important;
  top: unset !important;
  right: unset !important;
  display: hidden !important;
  margin-left: 10px !important;
}

.lm_tab:hover .lm_close_tab {
  display: block;
}

.lm_header .lm_tabs .lm_tab.lm_active {
  background-color: var(--editor-color);
}

.lm_header.lm_focused .lm_tab {
  background-color: var(--menu-color);
}

.lm_header.lm_focused .lm_tab.lm_active.lm_focused {
  background-color: var(--editor-color);
}

.lm_splitter.lm_horizontal,
.lm_splitter.lm_vertical {
  background-color: var(--highlighted-editor-color);
  opacity: 1;
}
