<div>
  <table>
    <tbody>
      <tr>
        <td (click)="importData()">Import</td>
        @if (projectLoaded()) {
          <td>Create</td>
        }
      </tr>
      @if (projectLoaded()) {
        <tr>
          <td>Select</td>
          @if (anySelected()) {
            <td>Delete</td>
          }
        </tr>
      }
    </tbody>
  </table>
  <span>General</span>
</div>
@if (availDtypes()[dtypes.M]) {
  @if (selection()[dtypes.MC].size > 0) {
    <div>
      <table>
        <tbody>
          <tr>
            <td>Parse</td>
            <td>Filter</td>
            <td>Split</td>
            <td>Derive</td>
            <td>Average</td>
            <td>Normalize</td>
            <td>Plot</td>
          </tr>
          <tr>
            <td>Print</td>
            <td>Sort</td>
            <td>Merge</td>
            <td>Cluster</td>
            <td>Sum</td>
            <td>Plot Metadata</td>
            @if (selection()[dtypes.C].size > 1) {
              <td>Ratio Plotter</td>
            }
          </tr>
        </tbody>
      </table>
      <span>Campaigns</span>
    </div>
  }
  @if (selection()[dtypes.M].size == 1) {
    <div>
      <table>
        <tbody>
          <tr>
            <td (click)="fetchMetadata(dtypes.M)">Show Metadata</td>
          </tr>
        </tbody>
      </table>
      <span>DopplerMeasurements</span>
    </div>
  }
  @if (selection()[dtypes.S].size > 0) {
    <div>
      <table>
        <tbody>
          <tr>
            <td>Analyze</td>
            <td>Calculate Eres</td>
          </tr>
          <tr>
            <td>Calibrate</td>
            @if (selection()[dtypes.S].size == 1) {
              <td (click)="fetchMetadata(dtypes.S)">Show Metadata</td>
            }
          </tr>
        </tbody>
      </table>
      <span>SingleSpectra</span>
    </div>
  }
  @if (selection()[dtypes.C].size > 0) {
    <div>
      <table>
        <tbody>
          <tr>
            <td>Analyze</td>
            @if (selection()[dtypes.C].size == 1) {
              <td (click)="fetchMetadata(dtypes.C)">Show Metadata</td>
            }
          </tr>
          <tr>
            <td>Coinc S Param</td>
          </tr>
        </tbody>
      </table>
      <span>CoincidenceSpectra</span>
    </div>
  }
}
