:host {
  display: flex;
  flex-direction: row;
  height: min-content;
  background-color: var(--menu-color);
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom: 1px solid var(--highlighted-menu-color);
  border-top: 1px solid var(--highlighted-menu-color);
}

div {
  display: flex;
  flex-direction: column;
  align-content: center;
  border-right: 1px solid var(--highlighted-menu-color);
  justify-content: space-between;
  align-items: center;
}

table {
  height: min-content;
}

td {
  padding: 3px 10px;
  cursor: pointer;
  text-wrap: nowrap;
}

td:hover {
  background-color: var(--highlighted-menu-color);
}

span {
  font-size: 0.6em;
  color: gray
}
