<dialog [open]="appData.dialogOpen()">
  <div class="frame">
    <h1>{{title}}</h1>
  </div>
  <form [formGroup]="formModel" (submit)="submit($event)">
    <h3>Parameters to Average By</h3>
    <div formArrayName="params">
      @for (item of params.controls; track $index; let i = $index) {
        <div [formGroupName]="i">
          <input type="text" formControlName="param"/>
          <label>Target:</label>
          <select formControlName="target">
            <option>auto</option>
            <option>DopplerMeasurement</option>
            <option>SingleSpectrum</option>
            <option>CoincidenceSpectrum</option>
          </select>
          <label>Parser:</label>
          <input type="text" [value]="item.value.parser.repr" (click)="openParserDialog(0, i)" readonly>
        </div>
      }
    </div>
    @if (params.controls.length < 10) {
      <button type="button" (click)="addParam()">+</button>
    }
    <h3>Parameters to Average Beside Line Shape Parameters</h3>
    <div formArrayName="keep_params">
      @for (item of keep_params.controls; track $index; let i = $index) {
        <div [formGroupName]="i">
          <input type="text" formControlName="param"/>
          <label>Target:</label>
          <select formControlName="target">
            <option>auto</option>
            <option>DopplerMeasurement</option>
            <option>SingleSpectrum</option>
            <option>CoincidenceSpectrum</option>
          </select>
          <label>Parser:</label>
          <input type="text" [value]="item.value.parser.repr" (click)="openParserDialog(1, i)" readonly>
        </div>
      }
    </div>
    @if (keep_params.controls.length < 10) {
      <button type="button" (click)="addKeepParam()">+</button>
    }
    <div class="frame">
      <button type="submit">Compute</button>
      <button type="button" (click)="close()">Cancel</button>
    </div>
  </form>
</dialog>
