<dialog [open]="appData.dialogOpen()">
  <div class="frame">
    <h1>MeasurementCampaign.filter</h1>
  </div>
  <form [formGroup]="formModel" (submit)="submit($event)">
    <div>
      <label>Parameter:</label>
      <input type="text" formControlName="param"/>
      <label>Target:</label>
      <select formControlName="target">
        <option>auto</option>
        <option>DopplerMeasurement</option>
        <option>SingleSpectrum</option>
        <option>CoincidenceSpectrum</option>
      </select>
      <label>Parser:</label>
      <input type="text" [value]="formModel.get('parser')?.value?.repr" (click)="openParserDialog()" readonly/>
    </div>
    <div>
      <toggle positive="remove.svg" negative="add.svg" formControlName="negative"></toggle>
      <toggle positive="values.svg" negative="range.svg" formControlName="byValue"></toggle>
    </div>
    @if (formModel.get('byValue')?.value === true) {
      <div formArrayName="values">
        @for (value of values.controls; track $index; let i = $index) {
          <div>
            <label>Value {{i}}:</label>
            <input type="text" [formControlName]="i" />
          </div>
        }
        <button type="button" (click)="addValue()">+</button>
      </div>
    } @else {
      <div>
        <label>Min:</label>
        <input type="number" formControlName="min"/>
        <label>Max:</label>
        <input type="number" formControlName="max"/>
      </div>
    }
    <div class="frame">
      <button type="submit">Compute</button>
      <button type="button" (click)="close()">Cancel</button>
    </div>
  </form>
</dialog>
