<dialog [open]="appData.dialogOpen()">
  <div class="frame">
    <h1>MeasurementCampaign.plot</h1>
  </div>
  <form [formGroup]="formModel" (submit)="submit($event)">
    <h3>X</h3>
    <div formArrayName="x_elements">
      @for (element of xParams.controls; track $index; let i = $index) {
        <div [formGroupName]="i">
          <input type="text" formControlName="param"/>
          <label>Target:</label>
          <select formControlName="target">
            <option>auto</option>
            <option>DopplerMeasurement</option>
            <option>SingleSpectrum</option>
            <option>CoincidenceSpectrum</option>
          </select>
          <label>Parser:</label>
          <input type="text" [value]="element.get('parser')?.value?.repr" (click)="openParserDialog('x', i)" readonly>
        </div>
      }
      @if (xParams.controls.length < 20) {
        <button type="button" (click)="addxParam()">+</button>
      }
    </div>
    <h3>Y</h3>
    <div formArrayName="y_elements">
      @for (element of yParams.controls; track $index; let i = $index) {
        <div [formGroupName]="i">
          <input type="text" formControlName="param"/>
          <label>Target:</label>
          <select formControlName="target">
            <option>auto</option>
            <option>DopplerMeasurement</option>
            <option>SingleSpectrum</option>
            <option>CoincidenceSpectrum</option>
          </select>
          <label>Parser:</label>
          <input type="text" [value]="element.get('parser')?.value?.repr" (click)="openParserDialog('x', i)" readonly>
        </div>
      }
      @if (yParams.controls.length < 20) {
        <button type="button" (click)="addyParam()">+</button>
      }
    </div>
    <h3>Z</h3>
    <div formArrayName="z_elements">
      @for (element of zParams.controls; track $index; let i = $index) {
        <div [formGroupName]="i">
          <input type="text" formControlName="param"/>
          <label>Target:</label>
          <select formControlName="target">
            <option>auto</option>
            <option>DopplerMeasurement</option>
            <option>SingleSpectrum</option>
            <option>CoincidenceSpectrum</option>
          </select>
          <label>Parser:</label>
          <input type="text" [value]="element.get('parser')?.value?.repr" (click)="openParserDialog('x', i)" readonly>
        </div>
      }
      @if (zParams.controls.length < 20) {
        <button type="button" (click)="addzParam()">+</button>
      }
    </div>
    <div>
      <label>Errorbars:</label>
      <input type="checkbox" formControlName="errorbars"/>
      <label>Scatter:</label>
      <input type="checkbox" formControlName="scatter"/>
      <label>Filled:</label>
      <input type="checkbox" formControlName="filled"/>
      <label>Label:</label>
      <input type="text" formControlName="label"/>
      <label>Label is Parameter:</label>
      <input type="checkbox" formControlName="label_is_param"/>
      <label>Detname in Label:</label>
      <input type="checkbox" formControlName="detname_in_label"/>
    </div>
    @if (!validNumOfParams()) {
      <div>Invalid number of parameters</div>
    }
    <div class="frame">
      <button type="submit">Compute</button>
      <button type="button" (click)="close()">Cancel</button>
    </div>
  </form>
</dialog>
