img {
  width: 2em;
  height: 2em;
  margin: 0 5px;
  border: 1px solid var(--highlighted-editor-color);
  border-radius: 5px;
  cursor: pointer;
}

img:hover {
  background-color: var(--highlighted-editor-color);
}
