<div>{{parserUI().info}}</div>
<form [formGroup]="parserUI().formGroup" (submit)="submit()">
  <div>
    @for (element of parserUI().display(); track element.key || element.value || $index) {
      @switch (element.controlType) {
        @case ('span') {
          <span>{{element.value}}</span>
        }
        @case ('input') {
          @if (element.label) {
            <label [attr.for]="element.key">{{element.label}}</label>
          }
          <input [formControlName]="element.key" [id]="element.key" [type]="element.type" />
        }
        @case ('select') {
          <select [id]="element.key" [formControlName]="element.key">
            @for (option of element.options; track $index) {
              <option [value]="option.key">{{option.value}}</option>
            }
          </select>
        }
      }
    }
  </div>
  <div class="frame">
    <button type="submit">Select</button>
    <button type="button" (click)="close()">Cancel</button>
  </div>
</form>
