:host {
  z-index: 2;
}

dialog {
  width: min-content;
}

.tab {
  display: inline-block;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid;
}

.active {
  background-color: var(--highlighted-editor-color);
}

.tabbar {
  margin-bottom: 0;
  width: max-content;
}

.tabcontent {
  margin-top: 0;
  height: 20em;
  overflow: auto;
  border: 1px solid;
}

option {
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid gray;
}

option:hover {
  background-color: var(--highlighted-editor-color);
}
