#container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: flex-start;
}

div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  height: 1.2em;
  margin: 2px 5px;
}

span {
  text-wrap: nowrap;
}

.header {
  cursor: pointer;
}

.header:hover {
  background-color: var(--highlighted-editor-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
}

.selected {
  color: lime;
}
