div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  height: 1.2em;
  margin: 2px 5px;
}

span {
  text-wrap: nowrap;
}

.header {
  cursor: pointer;
}

.header:hover {
  background-color: var(--highlighted-editor-color);
}
