@for (mult of data(); track $index) {
  <dropdown [name]="mult.name ?? 'unnamed'" icon="mult.svg">
    @for (mc of mult.campaigns; track $index) {
      <dropdown [name]="mc.name ?? 'unnamed'" icon="mc.svg">
        @for (m of mc.measurements; track $index) {
          <dropdown [name]="m.name ?? 'unnamed'" icon="m.svg">
            @for (s of m.singles; track $index) {
              <div>
                <span class="s">S</span>
                <span>{{s}}</span>
              </div>
            }
            @for (c of m.coinc; track $index) {
              <div>
                <span class="c">C</span>
                <span>{{c}}</span>
              </div>
            }
          </dropdown>
        }
      </dropdown>
    }
  </dropdown>
}
