ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 2px 0;
  padding: 0;
  border-top: 1px solid var(--highlighted-editor-color);
}

li {
  flex: 1;
  cursor: pointer;
  text-align: center;
}

li:hover {
  background-color: var(--highlighted-editor-color);
}

.active {
  background-color: var(--highlighted-editor-color);
}
