<ul>
  @if (appData.availDtypes()[appData.dtypes.MULT]) {
    <li
      [class.active]="openCounter()[appData.dtypes.MULT] > 0"
      (click)="toggleDtypeDisplay(appData.dtypes.MULT)">
      Mult
    </li>
  }
  @if (appData.availDtypes()[appData.dtypes.MC]) {
    <li
      [class.active]="openCounter()[appData.dtypes.MC] > 0"
      (click)="toggleDtypeDisplay(appData.dtypes.MC)">
      MC
    </li>
  }
  @if (appData.availDtypes()[appData.dtypes.M]) {
    <li
      [class.active]="openCounter()[appData.dtypes.M] > 0"
      (click)="toggleDtypeDisplay(appData.dtypes.M)">
      M
    </li>
  }
</ul>
