<ul>
  @if (availDtypes()[dtypes.MULT]) {
    <li
      [class.active]="openCounter()[dtypes.MULT] > 0"
      (click)="toggleDtypeDisplay(dtypes.MULT)">
      Mult
    </li>
  }
  @if (availDtypes()[dtypes.MC]) {
    <li
      [class.active]="openCounter()[dtypes.MC] > 0"
      (click)="toggleDtypeDisplay(dtypes.MC)">
      MC
    </li>
  }
  @if (availDtypes()[dtypes.M]) {
    <li
      [class.active]="openCounter()[dtypes.M] > 0"
      (click)="toggleDtypeDisplay(dtypes.M)">
      M
    </li>
  }
</ul>
