:host {
  overflow: auto;
  padding: 10px;
  padding-top: 0;
}

td, th {
  padding: 0 10px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: color-mix(in hsl, var(--editor-color) 80%, gray);
}

th {
  position: sticky;
  top: calc(1.5em + 20px);
  background-color: color-mix(in hsl, var(--editor-color) 80%, gray);
  border-bottom: 2px solid var(--highlighted-editor-color);
}

h1, h2, h3 {
  position: sticky;
  top: 0;
  padding: 10px 0;
  margin: 0;
  background-color: var(--editor-color);
}
