@for (mult of appData.tableData(); track $index; let i = $index) {
  @for (mc of mult; track $index; let j = $index) {
    <h2>Mult {{i+1}}, MC {{j+1}}</h2>
    <table>
      <thead>
        <tr>
          <th></th>  <!--Index column-->
          @for (header of headers(mc); track $index) {
            <th>{{header}}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (row of rows(mc); track $index; let i = $index) {
          <tr>
            <td>{{i}}</td>  <!--Index column-->
            @for (cell of row; track $index) {
              <td>{{cell ?? "NaN"}}</td>
            }
          </tr>
        }
      </tbody>
    </table>
  }
}
