:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--menu-color);
}

div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.okIndicator {
  width: 10px;
  height: 10px;
  border-radius: 5px;  /* half of width */
  background-color: red;
}

.ok {
  background-color: lime;
}
