<div>
</div>
<div>
  <span>Mult: {{appData.selection()[appData.dtypes.MULT].size}}</span>
  <span>MC: {{appData.selection()[appData.dtypes.MC].size}}</span>
  <span>M: {{appData.selection()[appData.dtypes.M].size}}</span>
  @if (appData.availDtypes()[appData.dtypes.S]) {
    <span>S: {{appData.selection()[appData.dtypes.S].size}}</span>
  }
  @if (appData.availDtypes()[appData.dtypes.C]) {
    <span>C: {{appData.selection()[appData.dtypes.C].size}}</span>
  }
  <div class="okIndicator" [class.ok]="isServerOk()"></div>
  <span>CPU: {{cpu()}}</span>
  <span>RAM: {{ram()}}</span>
</div>
