<div>
</div>
<div>
  <span>Mult: {{selection()[dtypes.MULT].size}}</span>
  <span>MC: {{selection()[dtypes.MC].size}}</span>
  <span>M: {{selection()[dtypes.M].size}}</span>
  @if (availDtypes()[dtypes.S]) {
    <span>S: {{selection()[dtypes.S].size}}</span>
  }
  @if (availDtypes()[dtypes.C]) {
    <span>C: {{selection()[dtypes.C].size}}</span>
  }
  <div class="okIndicator" [class.ok]="isServerOk()"></div>
  <span>CPU:</span>
  <span>{{cpu()}}</span>
  <span>RAM:</span>
  <span>{{ram()}}</span>
</div>
