:host {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

dialog {
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--editor-color);
  color: lightgray;
  font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
  font-size: 0.95em;
  border-radius: 3px;
  padding: 0;
  overflow: hidden;
}

h1, h2, h3 {
  margin: 10px;
}

.frame {
  margin: 0;
  padding: 10px;
  background-color: var(--menu-color);
}

div {
  margin: 10px;
}

input, select, button {
  background-color: var(--highlighted-editor-color);
  color: lightgray;
  margin: 0 1em;
}

input[type="number"] {
  width: 5em;
}

input::placeholder {
  color: lightgray;
}

.add {
  display: inline;
  border: 1px solid gray;
  border-radius: 0.4em;
}

parser-dialog.open {
  display: block;
}
